body {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
}
/*============================HEADER===========*/

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}

.list-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-active:hover,
.link-active:focus {
  color: #404bbf;
}
/*============================/HEADER===========*/

/*============================MAIN SECTION===========*/

.main-section {
  background: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn-order {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn-menu:hover,
.btn-menu:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
/*============================/MAIN SECTION===========*/

/*============================ADVANTAGE===========*/
.advantage-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*============================/ADVANTAGE===========*/

/*============================ABOUT US===========*/
.main-suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/*============================/ABOUT US===========*/

/*============================OUR COMMAND===========*/
.our-command {
  background-color: #f4f4fd;
}
/*============================/OUR COMMAND===========*/

/*============================FOOTER===========*/
.logo-web-light {
  color: #f4f4fd;
}
.footer-content {
  color: #e7e9fc;
}
/*============================/FOOTER===========*/
